head 
    title Juan Jose Soriano CV
    link(href="/angular-material/angular-material.css" rel="stylesheet")
    link(href="/static/css/asideMenu.css", rel="stylesheet")
    link(href="/static/css/ionicons.min.css", rel="styleshee")
    link(href="/static/css/animate.css", rel="stylesheet")
    
    
    