doctype html
html(lang="en")
    include ./_head.pug
    body(ng-app="cvAPP", layout='column')
        div(class="container", flex, layout='row')
            div(ng-controller='asideCtrl')
                include ./_aside.pug        
            md-content(id="main", flex)
                block content
        script(src="/static/js/angular.min.js")
        script(src='/scripts/angular-animate/angular-animate.js')
        script(src='/scripts/angular-aria/angular-aria.js')       
        script(src="/angular-material/angular-material.js")
        script(src="/static/js/app/app.js")
        script(src="/static/js/app/controllers/asideController.js")
        script(src="/static/js/app/controllers/aboutController.js")



        
    