extends ./shared/layout.pug
block content
    link(href="/static/css/about.css", rel="stylesheet")
    div(ng-controller="aboutCtrl", layout='column')
        div#aboutImgHeader(layout="row", layout-align="center center")
            h1 Web Developer
        div.blockElemnts(layout='row') 
            div(ng-repeat="item in blockElements", flex, layout ='column' layout-align="center center")
                i(class='{{item.icon}}')
                h3  {{item.text}}
        div.aboutTitle(layout='row', layout-align="center center")
            div.banner About me title
        div.aboutContent(layout='row', layout-padding='4')
            div(flex='70', layout='column') 
                div
                    p I am a devoted developer, maker and innovative person who enjoys developing new features and tools for the good of the people, looking always for efficient and simple solutions usable for everyone.
                    p I am an Industrial Engineer who found out the web, mobile and system development as an essential tool to improve and facilitate any process. In this way, while I was working as Organizational analyst in a Hospital, I started developing and proposing the new Process Management and Risk Analysis tool for the hospital as a cross department platform where the information was shared in an online community platform where everyone contributing from their roles.
                    p From this experience working for 3 years in a Hospital, personal projects and thanks to my hunger of knowledge, I decided to start a Master in Applied Computer Science which I am currently doing, polishing my abilities and getting more knowledge from my professors.
                    p Despite of all this technical skills and work experience, in my free time I like to explore new cities and cultures, go to for a cup of coffee and speak with friends, discover new people, play the guitar and when it is possible I do Scuba diving escaping to deep and infinite Blue world.
                blockquote {{fact}}                        
                        md-button.md-raised#RndFactBtn(ng-click="randomFact()", layout-align="end center") Random Fact!
            md-divider(vertical)
            div(flex='30', layout="column")
                svg.clip-svg
                    defs
                        clippath#polygon-clip-hexagon(clippathunits='objectBoundingBox')
                            polygon(points='0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25')
                .polygon-each-img-wrap
                    img.polygon-clip-hexagon(src='http://karenmenezes.com/shapes-polygon/image.jpg', alt='demo-clip-heptagon')
                div.col-content
                    p Name: Juan Jose Soriano
                    p Age: 26
                    p Nationality: Colombian
                    p Email: jjsorianoe@gmail.com

