extends ./shared/layout.pug
block content   
    link(rel="styleSheet", href="/static/css/contact.css", type="text/css")
    div#contactImgHeader(layout="column")
        div#imgBackground(layout-fill)
        h1.headerTitle Contact
    div(ng-controller="contactCtrl as contact")
        div#contactBlock(layout="column")
            div.form-style-6
                h1 Send me a message
                form(name="contactForm", ng-submit="contact.submitForm(contactForm.$valid)" novalidate)
                    input(type="text", name="name", placeholder="Your Name", required="required", ng-model="contact.form.name")
                    input(type="email", name="email", placeholder="Email Address", required="required", ng-model="contact.form.email")
                    textarea(name="message", rows=5, placeholder="Type your Message", required="required", ng-model="contact.form.message")
                    input(type="submit", value="send")
        footer
            div(ng-repeat="item in contact.footerElements")
                i(class='{{item.icon}}')
                span &nbsp {{item.text}}
