extends ./shared/layout.pug
block content
    link(rel="styleSheet", href="/static/css/portfolio.css", type="text/css")
    div#portfolioImgHeader(layout="column")
            div#imgBackground(layout-fill)
            h1.headerTitle Some Projects
    div(ng-controller="portfolioCtrl as portfolio")
        div#portfolioBlock(flex layout="row")
            div(ng-repeat='project in portfolio.projects')
                md-card
                    img(src="/static/img/map.jpeg", alt="")
                    md-card-title
                        md-card-title-text
                            span {{project.title}}
                    md-card-content
                        p {{project.description}}
        

