extends ./shared/layout.pug
block content
    link(rel="styleSheet", href="/static/css/resume.css", type="text/css")
    link(rel="styleSheet", href="/static/css/timeline.css", type="text/css")
    div#resumeImgHeaders(layout="column", layout-align="center center")
        h1 Experience
    div#stroyLine(ng-controller="resumeCtrl as resume", layout="column")
        #timeline
            .timeline-item(ng-repeat="item in resume.experience")
                .timeline-icon
                    i(class=`{{item.icon}}`)
                .timeline-content(ng-class-even="'right'")
                    h2 {{item.title}}
                    p  {{item.description}}
                    a.btn(href='#') button