.name-bar{
    background: #268d57;
}
.aside-column{
    background-color: #1C262B;
    color: #ffff;
}
.aside-button{
    color: #ffff;
}

.aside-button:hover{
    background-color: rgba(158,158,158,0.2);
}

.mat-list-base{
    padding-top: 0px; 
}

.menu-item{
   margin-left:5px;
}

.menu-btn{
    text-decoration: none;
    color: #fff;
}